.git
.gitignore
.dockerignore
.github
.pytest_cache
.ruff_cache
.coverage
htmlcov
dist
build
*.pyc
*.pyo
*.pyd
__pycache__
.env
.env.*
test.db
google-credentials.json
.secrets.baseline
.zap
docs
tests
